<!DOCTYPE html>
<html>

<head>
        <title>Add a review | Ralucipe's GMC Jam Reviews</title>
        {% include "head.html" %}
</head>

<body>
        <h2>Add a review</h2>
        <form method="post" action="/addReview/">
                <p>Game name: <input type="text" name="game_name" /></p>
                <p>Authors: <input type="text" name="authors" /></p>

                <h3>Overall Gameplay</h3>
                <p>Player Experience: <input type="number" name="player_experience_score" size="4" step="0.5" min="0"
                                max="10" />/10</p>
                <p>Mechanical Polish: <input type="number" name="mechanical_polish_score" size="4" step="0.5" min="0"
                                max="4" />/4</p>
                <p>Comments: <textarea cols="50" rows="7" name="overall_gameplay_comments"></textarea></p>

                <h3>Theme Inclusion</h3>
                <p>Player Experience: <input type="number" name="theme_inclusion_score" size="4" step="0.5" min="0"
                                max="6" />/6
                </p>
                <p>Comments: <textarea cols="50" rows="4" name="theme_inclusion_comments"></textarea></p>

                <h3>Overall Presentation</h3>
                <p>General Presentation: <input type="number" name="general_presentation_score" size="4" step="0.5"
                                min="0" max="4" />/4</p>
                <p>Quality of Graphics: <input type="number" name="quality_graphics_score" size="4" step="0.5" min="0"
                                max="3" />/3</p>
                <p>Quality of Audio: <input type="number" name="quality_audio_score" size="4" step="0.5" min="0"
                                max="2" />/2
                </p>
                <p>Comments: <textarea cols="50" rows="6" name="overall_presentation_comments"></textarea></p>
                <br>
                <p>Final comments: <textarea cols="50" rows="6" name="final_comments"></textarea></p>
                <input type="submit" value="Submit" />
        </form>
</body>

</html>