<!DOCTYPE html>
<html>

<head>
    <title>All Reviews | Ralucipe's GMC Jam Reviews</title>
    {% include "head.html" %}
</head>

<body>
    {% include "header.html" %}

    <h3>All published reviews</h3>
    <p>There are currently <strong>{{ num_reviews }}</strong> published reviews.</p>
    <ul>
        {% for review in reviews %}
        <li>
            <a href="{{ url_for('reviews.one_review', review_slug=review.slug) }}">
                {{review.game_name}} by {{review.authors}} ({{review.total_score}}/30 points)
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>