<!DOCTYPE html>
<html>

<head>
    <title>All Reviews | Ralucipe's GMC Jam Reviews</title>
    {% include "head.html" %}
</head>

<body>
    {% include "header.html" %}
    <div id="content">
        <h2>All published reviews</h2>
        <p>
            There are currently <strong>{{ num_reviews }}</strong> published reviews.
            Sort by:
            {% if sort == "recent" %}
            Most Recent
            {% else %}
            <a href="?s=recent">Most Recent</a>
            {% endif %}
            |
            {% if sort == "name" %}
            Game Name
            {% else %}
            <a href="?s=name">Game Name</a>
            {% endif %}
            |
            {% if sort == "score" %}
            Total Score
            {% else %}
            <a href="?s=score">Total Score</a>
            {% endif %}
        </p>
        <div>
            {% for review in reviews %}
            <div class="reviews-item">
                <a href="{{ url_for('reviews.one_review', review_slug=review.slug) }}" style="padding-right: 10px;">
                    {{review.game_name}} by {{review.authors}}
                </a>
                <span style="white-space: nowrap;">
                    <span style="font-weight: bold; font-size: large;">
                        {{ review.total_score|cround }}
                    </span>
                    <span style="font-size: x-small;">/ 30</span>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>