<!DOCTYPE html>
<html>

<head>
    <title>{{ review.game_name }} | Ralucipe's GMC Jam Reviews</title>
</head>

<body>
    <h2>{{ review.game_name }} by {{ review.authors }}</h2>
    <h3>Overall Gameplay ({{ review.player_experience_score + review.mechanical_polish_score }} / 14 points)</h3>
    <ul>
        <li>Player Experience: {{review.player_experience_score}}/10</li>
        <li>Mechanical Polish: {{review.mechanical_polish_score}}/4</li>
    </ul>
    <p><strong>Comments</strong>: {{ review.overall_gameplay_comments }}</p>

    <h3>Theme Inclusion ({{ review.theme_inclusion_score }} / 6 points)</h3>
    <p><strong>Comments</strong>: {{ review.theme_inclusion_comments }}</p>

    <h3>Overall Presentation ({{ review.quality_graphics_score + review.quality_audio_score +
        review.general_presentation_score }} / 9 points)</h3>
    <ul>
        <li>Overall Presentation: {{ review.general_presentation_score }}/4</li>
        <li>Quality of Graphics: {{ review.quality_graphics_score }}/3</li>
        <li>Quality of Audio: {{ review.quality_audio_score }}/2</li>
    </ul>
    <p><strong>Comments</strong>: {{ review.overall_presentation_comments }}</p>
    <div style="width: 90%; margin-left: auto; margin-right: auto; border: 1px solid black;"></div>
    <p><strong>Final comments</strong>: {{ review.final_comments }}</p>
    <h3>Total Score: {{ review.total_score }} / 30</h3>

</body>

</html>